body {
    background-color: var(--color-4);
    color: var(--color-3);
}

/* STYLE THE NAVBAR */

nav {
    width: 100%;
    height: 4rem;
    background-color: var(--color-1);
    opacity: 0.7;
    display: grid;
    place-items: center;
}

.container {
    color: var(--color-1);
    width: 70vw;
    min-width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    color: var(--color-3);
}

nav ul li {
    padding: 0 0.7rem;
}

nav ul li:hover {
    color: var(--color-2);
    cursor: pointer;
}


/* STYLE MAIN CONTENT  */
section {
    display: grid;
    place-items: center;
    height: 80vh;
}

#main-content {
    display: flex;
    justify-content: space-between;
}

.left-item,
.right-item {
    width: 21vw;
}

.center-item {
    width: 28vw;
    display: grid;
    place-items: center;
}

.center-item #controls-and-stuff {
    position: relative;
    top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls-and-stuff #playing-song-details {
    font-size: 0.8rem;
    width: 21vw;
    display: flex;
    justify-content: center;
}

#currently-playing .song-name {
    width: 21vw;
    margin-bottom: 0.2rem;
}

#currently-playing .song-name h1 {
    display: inline;
}

#playing-song-details .artist-name {
    width: 20vw;
    overflow-wrap: break-word;
}

.reactions-summary {
    font-size: 0.6rem;
    font-weight: 900;
    height: 100%;
    width: 21vw;
    display: flex;
    justify-content: left;
    gap: 0.5rem;
    margin-top: 0.6rem;
}

#reactions {
    width: 21vw;
    margin-top: 1.3rem;
}

.reactions-details {
    width: 100%;
    height: 12vh;
    overflow-y: scroll;
    font-size: 0.7rem;
}

.center-item input[type = "range"] {
    width: 100%;
    margin-top: 0.4rem;
    margin-bottom: 0.7rem;
}

.reactions-details ul.comment-input {
    list-style: none;
    color: var(--color-1);
}

ul.comment-input li {
    margin-bottom: 0.4rem;
}

ul.comment-input li .commenter-name {
    font-style: italic;
    color: var(--color-3);
    text-align: end;
}

/* style buttons  */
.buttons {
    margin-top: 1.3rem;
}

.btn {
    font-size: 0.8rem;
    padding: 0.4em 0.6em;
    margin: 0.1em;
    color: var(--color-4);
    background-color: var(--color-3);
    opacity: 0.7;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 0.4em;
}

.btn:hover {
    /* background-color: var(--color-1);
    color: var(--color-3); */
    opacity: 0.85;
}

.btn.active {
    opacity: 1;
}

/* style up-next */
.right-item,
.right-item #up-next {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right-item h1 {
    color: var(--color-1);
    font-size: 1.1rem;
}

.right-item #up-next {
    color: var(--color-3);
    margin-top: 0.5rem;
}

.right-item ul {
    list-style: none;
}

#up-next .song{
    font-size: 0.8rem;
}

/* style playlist  */
#play-list {
    margin: 0.6rem 0;
    width: 100%;
    float: left;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
}

#play-list #play-list-items {
    border: var(--color-1) solid 0.1em;
    background-color: var(--color-3);
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-size: 0.7rem;
}

#play-list-items .song-name {
    color: var(--color-1);
    width: 10vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

#play-list-items .artist-name {
    width: 8vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

#play-list #play-list-items .song {
    display: flex;
    justify-content: space-between;
    align-items: center
}

/* style comment input form  */
form {
    display: flex;
    flex-direction: column;

}

#add-comment-form textarea {
    width: 21vw;
    height: 6vh;
    outline: none;
    border: var(--color-1) solid 0.5rem;
    padding: 0 0.8rem;
    border-radius: 0.5rem;
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
    background-color: var(--color-1);
    color: var(--color-4);
    opacity: 0.6;
}

/* style the bottom items  */
.bottom h1 {
    width: 21vw;
}

.bottom .song {
    width: 21vw;
    font-size: 0.7rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.bottom .song-name {
    color: var(--color-1);
    width: 10.5vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bottom .artist-name {
    width: 9.5vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}