body {
    background-color: var(--color-4);
    color: var(--color-3);
}

/* STYLE THE NAVBAR */

nav {
    width: 100%;
    height: 2.5rem;
    background-color: var(--color-1);
    display: grid;
    place-items: center;
}

.container {
    color: var(--color-1);
    width: 70%;
    min-width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    color: var(--color-3);
}

nav ul li {
    padding: 0 0.7rem;
}

nav ul li:hover {
    color: var(--color-2);
    cursor: pointer;
}


#vintage-beats-logo {
    font-weight: 900;
    color: var(--color-2);
    font-size: 1.5rem;
}

#vintage-beats-logo span{
    text-decoration: underline;
}


/* STYLE THE MAIN CONTENT */
#main-content {
    display: flex;
    align-items: center;
    height: 100vh;
}

#main-content .inner-container {
    width: 100%;
}

/* style the left side image */
img {
    height: 33vw;
    display: block;
}

/* style the right side items*/
.right-side {
    height: 33vw;
}

.right-side .buttons {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.right-side ul {
    list-style: none;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    color: var(--color-3);
    font-size: 0.8rem;
}

.right-side h1 {
    color: var(--color-1);
}

.btn {
    font-size: 0.8rem;
    padding: 0.4em 0.6em;
    margin: 0.1em;
    color: var(--color-4);
    background-color: var(--color-3);
    opacity: 0.7;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 0.4em;
}

.btn:hover {
    /* background-color: var(--color-1);
    color: var(--color-3); */
    opacity: 0.85;
}

.btn.active {
    opacity: 1;
}

/* style playlist  */
#play-list {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#play-list #play-list-items {
    width: 70%;
    border: var(--color-3) solid 0.1em;

    padding: 1rem;
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.song .song-name {
    flex-basis: 65%;
}

/* style the controls  */
.center-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 30%;
    top: 50%;
    width: 20%;
}

.center-item input {
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.center-item #controls {
    display: flex;
    justify-content:center;
}

.center-item #controls i {
    margin: 0.5rem;
}