body {
    background-color: var(--color-4);
}

nav {
    width: 100%;
    height: 2.5rem;
    background-color: var(--color-1);
    display: grid;
    place-items: center;
}

.container {
    color: var(--color-1);
    width: 70%;
    min-width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    color: var(--color-3);
}

nav ul li {
    padding: 0 0.7rem;
}

nav ul li:hover {
    color: var(--color-2);
    cursor: pointer;
}


#vintage-beats-logo {
    font-weight: 900;
    color: var(--color-2);
    font-size: 1.5rem;
}

#vintage-beats-logo span{
    text-decoration: underline;
}


/* STYLE THE LEFT-SIDE IMAGE */
img {
    width: 33%;
    position: relative;
    top: 200px;
}